header{
    background-color: #252529;  
    padding: 5px 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: static;
    top: 0;
    height:55px;
    width: calc(100% - 10px);
}

.headerimg{
    object-fit: cover;
    height: 50px;   
    width: 50px;
    cursor: pointer;
}   

.imgheadcomp{
    flex-shrink: 0;
}